body {
  text-align: center;
  background-color: #3e474f;
  color: white;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.7s ease;
}

body.orange {
  background: #e97734 url(open-quote.png) no-repeat 50% -40%;
}

body.yellow {
  background: #e3992b url(open-quote.png) no-repeat 50% -40%;
}

body.green {
  background: #329577 url(open-quote.png) no-repeat 50% -40%;
}

body.blue {
  background: #347aa9 url(open-quote.png) no-repeat 50% -40%;
}

body.purple {
  background: #7d679c url(open-quote.png) no-repeat 50% -40%;
}

body.red {
  background: #df535b url(open-quote.png) no-repeat 50% -40%;
}

.container {
  width: 100%; 
  height: 100%;
  position: absolute;
}

#quote-box {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;

  top: 40%;
  transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  -o-transform: translateY(-40%);

}

#quote-box p {
  margin-top: 0;  
}

#quote {
  font-weight: 400;
  font-style: italic;
  line-height: 1.2em;
  position: relative;
  margin: 0;
}

  
#quote.tiny {
  font-size: 4rem;
}
  
#quote.small {
  font-size: 3rem;
}

#quote.medium {
  font-size: 2.6rem;
}

#quote.large {
  font-size: 2.2rem;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  /*#quote {
    font-size: 5vw;
  }*/
  
  #quote.tiny {
    font-size: 3rem;
  }
  
  #quote.small {
    font-size: 2rem;
  }
  
  #quote.medium {
    font-size: 1.5rem;
  }
  
  #quote.large {
    font-size: 1.2rem;
  }
  
}

@media only screen and (max-width: 40em) { 
  #quote.tiny {
    font-size: 2.4rem;
  }
  
  #quote.tiny {
    font-size: 1.7rem;
  }
}

/* Medium only */
/*
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #quote {
    font-size: 5vw;
  }
}
*/

/* Large only */
/*
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
   #quote {
    font-size: 5vw;
  }
}
*/


.source {
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}


#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 10%;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(255,255,255,0);;
  padding: 15px 0;
  transition: .5s ;
}

#loadQuote:hover {
  background-color: rgba(255,255,255,.25);
}

#loadQuote:focus {
  outline: none;
}




